<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet">
    <title>Desic</title>
</head>
<body>
    <header>
        <div class="header_container">
            <div>
                <a href="/" class="logo">
                    <img id="logo_pic" src="/img/logo.png" alt="Logo" height="150" width="200">
                </a>
            </div>
            <div class="nav_container">
                <a href="/" class="start_nav">
                    Hem
                </a>
                <a href="/shoppa" class="start_nav">
                    Shoppa
                </a>
                <a href="/all_designers" class="start_nav">
                    Designers
                </a>
                <a href="/om" class="start_nav">
                    Om Oss
                </a>
                <a href="/Kontakt" class="start_nav">
                    Kontakt
                </a>
                <a href="/Kundvagn" class="start_nav">
                    Kundvagn
                </a>
                <a href="/konto" class="start_nav">
                    Konto
                </a>
            <div>
            <div>
                <p>Inloggad som 
                    <a href="/konto"><%=session[:user_name]%></a>
                </p>
            </div>
        </div>
    </header>
        <main>
            <%= yield %>
        </main>
    <footer>
        <div class="footer_container">
            <h1 id="follow_text">Följ oss</h1>
            <div class="link_container">
                <img id="link_pics" src="/img/facebook-logo-button.svg" alt="Facebook logo" height="80" width="80">
                <img id="link_pics" src="/img/instagram-logo.svg" alt="Instagram logo" height="80" width="80">
                <img id="link_pics" src="/img/twitter-logo-button.svg" alt="Twitter logo" height="80" width="80">
            </div>
            <div id="cred_text">Icons made by <a href="https://www.flaticon.com/authors/bogdan-rosu" title="Bogdan Rosu">Bogdan Rosu</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
        </div>
    </footer>
</body>
</html>