<div class="div_container">
    <div class="signup_container">
        <a id="back_button"href="/">Tillbaka</a>
        <form action="/new_user" method="post" id="new_user_form">
            <input type="text" name="name" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <input type="password" name="confirmed_password" placeholder="Confirm password">
            <input type="submit" value="Create new user">
        </form>
    </div>
<%
=begin %>
<% err = failure()%>
<% if err %>
    <p><%=error%></p>
<%end%>
<%
=end %>
</div>