<div class="div_container">
    <img id="sell_pic"src="#" alt="Selling picture" height="auto" width="100%">
    <h1 class="div_container">Våra produkter</h1>
    <div class="products">
        
    </div>
</div>