<div class="div_container">
    <div class="start_first_content">
        <h1 class="start_header">DESIGNAD TILL OSS<br>AV OSS</h1>
        <h5 class="start_under_header">ENKLA, FINA OCH UNIKA SKAPELSER AV HÖSTA KVALITÉ</h5>
        <a href="#" class="shop_button">Shoppa</a>
    </div>
    <div class="start_divider">
        <h1 class="start_header">UTFORSKA MER ATT ÄLSKA</h1>
        <h5 class="start_under_header">POPULÄRT JUST NU</h5>
    </div>
    <div class="start_bottom">
        <%# Rubykod som kommer generera de 4 mest köpta produkter%>
    </div>
</div>