<div class="div_container">
    <div class="start_first_content">
        <div class="start_head_container">
            <h1 class="start_header">DESIGNAD TILL OSS<br>AV OSS</h1>
            <h5 class="start_under_header">ENKLA, FINA OCH UNIKA SKAPELSER AV HÖSTA KVALITÉ</h5>
            <a href="/shoppa" class="shop_button">Shoppa</a>
        </div>
    </div>
    <div class="start_divider">
        <h1 class="start_header">UTFORSKA MER ATT ÄLSKA</h1>
        <h5 class="start_under_header">POPULÄRT JUST NU</h5>
    </div>
    <div class="start_bottom">
        <% products.each do |item| %>
            <%="<a href='/product/#{item[0]}'>"%>
            <%="<img src='/img/img#{item[0]}.jpg'>"%> 
          <%=item[1]%>
          <%='</a>'%>
        <% end %>
    </div>
</div>